[globals]

; F3
DEBUG = 3
UI = "app/views/"
TEMP = "data/temp/"
CACHE = "folder=data/cache/"
UPLOADS = "data/uploads/"
AUTOLOAD = "app/;app/lib/;3rdparty/"
LOGS = "data/log/"
LOCALES = "app/dict/"

; MYSQL
MYSQL_HOST = "localhost"
MYSQL_PORT = 3306
MYSQL_DB = "messend_db"
MYSQL_USER = ""
MYSQL_PASS = ""